@import "tailwindcss";

@theme {
  --color-gh-bg: #0d1117;
  --color-gh-surface: #161b22;
  --color-gh-border: #30363d;
  --color-gh-primary: #58a6ff;
  --color-gh-green: #3ecf8e;
  --color-gh-success: #3fb950;
  --color-gh-textPrimary: #c9d1d9;
  --color-gh-textSecondary: #8b949e;
}

body {
  background-color: #0d1117;
  color: #c9d1d9;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}
